/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--css reset end--*/
/*--basic setting start--*/
.wrap {
  margin: 0 auto;
  max-width: 1500px;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #EFE9E7;
  color: #3D1101;
  overflow: hidden;
  letter-spacing: auto;
}

.clear {
  clear: both;
}

h4 {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 40px;
}

h5 {
  font-size: 16px;
}

.container {
  margin: 0 2%;
}

/*--basic setting end--*/
/*--header start--*/
.header .container {
  min-height: 550px;
  position: relative;
  padding-top: 16px;
}

.header .container h1 {
  float: left;
  padding: 5px;
  margin-top: 13px;
}

.header .container h1 a {
  background: url(../img/logo_w.png);
  background: url(../img/logo_w.svg);
  width: 120px;
  height: 24px;
  display: block;
  background-repeat: no-repeat;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.header .container .hamburger_menu {
  display: none;
}

@media (max-width: 500px) {
  .header .container .hamburger_menu, .header .container .cancel {
    color: #ffffff;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 12px;
    padding: 3px;
    float: right;
    display: inherit;
    cursor: pointer;
  }
}

.header .container .none {
  display: none;
}

.menu {
  float: right;
  color: #ffffff;
  margin-top: 18px;
}

.menu li {
  display: inline-block;
  margin-left: 18px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 8px;
}

.menu li a:hover, .menu li a:active {
  background: #F56C23;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .menu {
    max-height: 0px;
    position: absolute;
    z-index: 100;
    top: 45px;
    left: 0;
    right: 0;
    background: #EFE9E7;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
  }
  .menu li {
    display: block;
    margin: 10px;
    text-align: center;
    font-size: 20px;
  }
  .menu li a {
    color: #3D1101;
    display: block;
  }
}

@media (max-width: 500px) {
  .header .showmenu .menu {
    max-height: 500px;
  }
}

.banner {
  background: url(../img/sky.jpeg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  opacity: 0.8;
}

@media (max-width: 500px) {
  .banner {
    background: url(../img/sky.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }
}

.slogan {
  width: 460px;
  margin: 0 auto;
  margin-top: 160px;
  text-align: center;
  padding: 20px;
}

.slogan h2 {
  color: #ffffff;
  font-size: 36px;
}

.slogan h3 {
  color: #ffffff;
  font-size: 28px;
  margin: 28px 0px;
  letter-spacing: 1px;
}

.slogan {
  padding: 0 5px;
}

.slogan .slogan_phonesize {
  display: none;
}

@media (max-width: 500px) {
  .slogan {
    width: 80%;
    margin-top: 140px;
  }
  .slogan .slogan_pcsize {
    display: none;
  }
  .slogan .slogan_phonesize {
    display: inherit;
  }
}

@media (max-width: 320px) {
  .slogan {
    width: 95%;
    padding: 20px 6px;
  }
}

/*--header end--*/
/*--footer start--*/
.footer {
  padding: 40px 0;
}

.footer .about,
.footer .contact {
  float: left;
  width: 299px;
  margin-right: 30px;
}

.footer h4 {
  margin-bottom: 14px;
}

.footer h5 {
  line-height: 1.4;
}

.footer .contact ul li {
  list-style: disc inside;
  color: #3D1101;
  line-height: 1.4;
}

@media (max-width: 940px) {
  .footer {
    font-size: 14px;
  }
  .footer h5 {
    font-size: 14px;
  }
}

@media (max-width: 940px) {
  .footer ,
  .footer .contact {
    width: 30.33333%;
    margin: 0 1.5%;
  }
}

@media (max-width: 600px) {
  .footer ,
  .footer .contact {
    width: 45%;
    margin: 0 2.5%;
  }
}

.social_link {
  float: center;
}

.social_link ul {
  float: center;
  margin-top: 10px;
}

.social_link ul li {
  display: inline-block;
  padding: 4px 0;
  margin: 0 5px;
}

.social_link ul li img {
  width: 31px;
  height: 31px;
}

@media (max-width: 940px) {
  .social_link {
    width: 30.33333%;
  }
}

@media (max-width: 600px) {
  .social_link {
    clear: both;
    float: none;
    width: 250px;
    margin: 0 auto;
    padding-top: 20px;
  }
  .social_link .logo {
    display: inline-block;
  }
  .social_link .logo img {
    height: 25px;
  }
  .social_link ul {
    float: none;
    display: inline-block;
  }
  .social_link ul li {
    margin: 0 2.5px;
  }
  .social_link ul li img {
    width: 25px;
    height: 25px;
  }
}

/*--footer end--*/
/*--index start--*/
.content h4 {
  text-align: center;
}

 .decoration_line_bottom {
  border-top: 1px solid #979797;
  width: 90px;
  display: inline-block;
  margin: 0px 40px;
}

@media (max-width: 767px) {
  .decoration_line_bottom {
    width: 40px;
    margin: 0 20px;
  }
}

.project {
  background: #3D1101;
  color: #EFE9E7;
}

.project .container {
  position: relative;
}

.project .project_article {
  float: left;
  width: 48%;
  margin: 10% 0 5% 4%;
  line-height: 1.8;
}

.project .project_article h4 {
  text-align: left;
  margin-bottom: 0px;
}

.project .project_article p {
  margin: 16px 0;
  line-height: 1.3;
}

@media (max-width: 700px) {
  .project .project_article {
    margin-top: 4%;
    width: 90%;
  }
}

@media (max-width: 470px) {
  .project .project_article {
    margin-top: 500px;
    width: 80%;
  }
}


.project_picTCIpdt {
  background: url(../img/TCIpdt.png);
  background-position: center center;
  
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  max-width: 460px;
  width: 48%;
  height: 480px;
}

.project_picTRA {
  background: url(../img/TRA.png);
  background-position: center center;
  float: left;
  max-width: 460px;
  width: 48%;
  height: 480px;
}

.project_picSnake {
  background: url(../img/snake.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  max-width: 460px;
  width: 48%;
  height: 480px;
}

@media (max-width: 700px) {
  .project_picTCIpdt {
    width: 100%;
    margin: 4%;
  }
  .project_picTRA {
    width: 100%;
    margin: 4%;
  }
  .project_picSnake {
    width: 100%;
    margin: 4%;
  }
}

@media (max-width: 470px) {
  .project_picTCIpdt {
    position: absolute;
    top: 0;
    right: -50px;
    overflow: hidden;
    width: 200%;
    margin: 0;
    background-size: 85% 480px;
  }
  .project_picTRA {
    position: absolute;
    top: 0;
    right: -50px;
    overflow: hidden;
    width: 200%;
    margin: 0;
    background-size: 85% 480px;
  }
  .project_picSnake {
    position: absolute;
    top: 0;
    right: -50px;
    overflow: hidden;
    width: 200%;
    margin: 0;
    background-size: 85% 480px;
  }
}

/*--index end--*/


/*# sourceMappingURL=all.css.map */